[Desktop Entry]
Version=1.0
Type=Application
Name=Mechvibes DX
GenericName=Keyboard Sound Simulator
Comment=Mechanical keyboard sound simulator
Icon=mechvibes-dx
Exec=mechvibes-dx
Terminal=false
Categories=Audio;AudioVideo;Utility;
Keywords=keyboard;sound;mechanical;simulator;
StartupNotify=true
