/* App-wide styling */
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--color-base-100);
    overflow: hidden;
}

.logo {
    box-shadow: 0 5px 0 rgba(163, 10, 10, 0.5);
}

.logo-pressed {
    margin-top: 5px;
    margin-bottom: -5px;
    box-shadow: 0;
}

.padding7 {
    padding: 7px;
}

.tint545 {
    background: rgba(0, 0, 0, 0.545);
}

.w-40 {
    width: 40px;
}

.h-40 {
    height: 40px;
}

/* .logo {
    position: relative;
} */
/* 
.logo:after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
        to left,
        #ff5770,
        #e4428d,
        #c42da8,
        #9e16c3,
        #6501de,
        #9e16c3,
        #c42da8,
        #e4428d,
        #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
} */
